<h2>Your cart:</h2>

{{#each products}}
<div>
    <h3> {{title}}</h3>
    <p>price: {{price}}</p>
    <p>code: {{code}}</p>
    <p>thumbnails: {{thumbnails}}</p>
    <p>quantity: {{quantity}}</p>
</div>
{{/each}}

<form id="purchaseForm" action="" method="">
    <button id="purchase" type="submit">Purchase cart</button>
</form>