<h2>Your cart:</h2>

{{#empty products}}
<p>Your cart it's empty</p>
<button onclick="location.href='/api/products'">See products</button>
{{/empty}}

{{#full products}}
{{#each products}}
<div>
    <h3> {{title}}</h3>
    <p>price: {{price}}</p>
    <p>code: {{code}}</p>
    <p>thumbnails: {{thumbnails}}</p>
    <p>quantity: {{quantity}}</p>
</div>
{{/each}}
<form id="purchaseForm" action="" method="">
    <button id="purchase" type="submit">Purchase cart</button>
</form>
{{/full}}
