<h2>Your profile:</h2>

<form action="/api/session/premium/{{user._id}}" method="POST" id="rolForm">
    <p>First name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}}</p>
    <p>Email:{{user.email}}</p>
    <p id="uid" name="uid">Name: {{user._id}}</p>
    <p>Role: {{user.role}}</p>
    <button id="change" type="submit">Change to {{role}}</button>
</form>

<button onclick="location.href='/api/session/logout'">Log out</button>
