<h2>All users</h2>

{{#each users}}
<form id="userForm" method="POST" action="/api/users/delete/{{mail}}">
    <h3 name="user">name: {{name}}</h3>
    <p name="mail" id="mail">email: {{mail}}</p>
    <p name="role">role: {{role}}</p>
    <button type="submit" id="{{mail}}">Delete user</button>
</form>
{{/each}}